.button1 {
    -fx-background-color: #a8995b;
    -fx-pref-width: 100px;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button1:hover {
    -fx-background-color: #54442a;
}

.button1:pressed {
    -fx-translate-y: +2;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.main {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #42ac72, #1d4025);
}

.text-field {
    -fx-font-size: 18px;
    -fx-text-fill: #8A9EAD;
    -fx-pref-width: 314;
}

.submit-button {

    -fx-fill: #6D5DD3;
    -fx-background-color: #6D5DD3;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 314;
    -fx-background-radius: 20;
}

.successful-snackbar {
    -fx-min-width: 1065;
    -fx-background-color: #00C57B;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-pref-height: 50;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.error-snackbar {
    -fx-min-width: 1065;
    -fx-background-color: #DF295A;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-pref-height: 50;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}