.circle-label {
    -fx-font-size: 10;
    -fx-text-fill: WHITE;
    -fx-text-alignment: RIGHT;
}

.arrow {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-gray;
    -fx-text-alignment: RIGHT;
}

.circle {
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-font-size: 50;
    -fx-alignment: center;
}

.card-pane {
    -fx-border-style: dashed;
    -fx-stroke-width: 50;
    -fx-border-color: -fx-gray;
    -fx-border-width: 4;
    -fx-pref-height: 344;
    -fx-pref-width: 264;
}

.text-field {
    -fx-font-size: 17;
    -fx-text-fill: -fx-gray;
    -fx-pref-width: 200;
}

.text-area {
    -fx-font-size: 17;
    -fx-text-fill: -fx-gray;
    -fx-pref-width: 150;
}

.combo-box {
    -fx-font-size: 17;
    -fx-text-fill: -fx-gray;
    -fx-pref-width: 200;
}

.next-last-button {
    -fx-font-size: 20;
    -fx-background-color: -fx-primary;
    -fx-text-fill: WHITE;
    -fx-pref-height: 45;
    -fx-min-height: 45;
    -fx-max-height: 45;
    -fx-pref-width: 45;
    -fx-min-width: 45;
    -fx-max-width: 45;
    -fx-background-radius: 22.5;
}

.button {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-background-color: -fx-primary;
    -fx-text-fill: WHITE;
    -fx-pref-width: 150;
    -fx-background-radius: 20;
}

.price-label {
    -fx-font-size: 55;
    -fx-text-fill: WHITE;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}