.addBobOk {
    -fx-background-color: #90EE90;
    -fx-background-radius: 5, 5, 4;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-alignment: center;
}

.addBobOk:hover {

    -fx-background-color: #64EE64;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-alignment: center;
}

.busy {

    -fx-background-color: #B3B3B3;
    -fx-text-alignment: center;
}

.busy:hover {

    -fx-background-color: cdcbcb;
    -fx-text-alignment: center;
}