
.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.cardList {
    -fx-background-color: transparent;
}