
.deckListItem {
    -fx-pref-width: 520;
    -fx-pref-height: 60;
    -fx-background-color: #272731;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.deckListItem #deckName {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.deckListItem #deckCardSize{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#listItem{
    -fx-background-color: transparent;
    -fx-pref-height: 50;
    -fx-pref-width: 520;
}
.scoreboardListItem{
    -fx-pref-width: 520;
    -fx-pref-height: 50;
    -fx-background-color: transparent;
    -fx-border-color: #403c45;
    -fx-border-radius: 10;
}
.scoreboardListItem:hover {
    -fx-pref-width: 520;
    -fx-pref-height: 50;
    -fx-background-color: #3e3c43;
    -fx-border-color: #403c45;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.ranking {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.content{
    -fx-font-size: 18;
    -fx-fill: white;
}
